*.iml
.gradle
.kotlin/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
*.jks

# IntelliJ
*.ipr
*.iws
out/

# Android Studio
.navigation/
.idea/workspace.xml
.idea/tasks.xml

# OS
Thumbs.db
desktop.ini
